.button-more {
  display: block;
  background-color: $color-teal;
  padding: 0.75em;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  &:hover {
    color: #fff;
    background-color: $color-teal-dark;
  }
  &:before {
    @extend .fa.fa-angle-down;
  }
}