.card{
  background-color: #fff;
  padding: 1.5em 0;
  img {
    border-radius: 50%;
    padding: 1.5em;
    display: block;
    margin: 0 auto;
  }
  &:hover {
    background-color: $color-teal;
    color: #fff;
    p {
      color: #fff;
    }
    // The Plus
    h1 {
      @include bkwldPlusColor(#fff);
    }

  }
}