.card-nameplate {

  $plus-width: 1.5em;

  //border: 1px solid blue;
  line-height: 1.25;
  padding-left: 2.5em;
  position: relative;
  h1{ 
    font-size: 1em;
    font-weight: 600;
    margin: 0;
  }
  p {
    font-size: 0.9em;
    margin: 0;
    color: $color-gray-darker;
  }
  h1:before,
  h1:after {
    content: '';
    display: inline-block;
    background-color: $color-teal;
    width: $plus-width;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
  }
  h1:after {
    @include rotate(90deg);
  }
}