@mixin vertical-middle() {
  //src: http://css-tricks.com/centering-in-the-unknown/
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}