body {
  padding: 2em;
}

.module {
  margin: 2em 0;
  &> h1 {
    font-size: 1.25rem;
    padding: 0.25em 0;
    text-transform: uppercase;

    background-color: hsl(60, 100%, 80%);
    code {
      color: #999;
      font-size: 1rem;
      text-transform: none;
      //font-family: monoespace;
    }
  }
}