.news-card {
  padding: 1em;
  img {
    max-width: 90%;
    border-radius: 0;
    margin: 1em auto;
    padding: 0;
  }
  .card-nameplate {
    padding-left: 2em;
    h1 { 
      font-size: 0.75em;
    }
    // Plus sign
    h1:before,
    h1:after {
      width: 1em;
    }
  }
}