.page-header {
  background-color: $color-blacker;
  color: #fff;
  font-family: $condensed-font-family;
  display: table;
  width: 100%;
  padding: 0 1em 0 2.5em;
  h1 {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 2.66em;
    line-height: 1;
    margin: 0;
    //border: 1px solid yellow;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  .main-nav {
    //border: 1px solid green;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
}