/**
* Project wide variables 
**/

// Type
$base-font-family: 'proxima-nova', 'Open Sans', sans-serif;
$condensed-font-family: 'proxima-nova-extra-condensed', 'Open Sans Condensed', $base-font-family;
$base-font-size: 16px;
$base-line-height: 1.5;

// Color
$color-blacker: #222;
$color-black: #444;
$color-gray-darker: #555;
$color-gray-dark: #777;
$color-gray: #ccc;
$color-gray-light: #ddd;
$color-gray-lighter: #eee;

$color-teal: #77c4bc;
$color-teal-dark: #53b5aa;
$color-orange: #ffd7b0;
$color-orange-dark: #ffbd7d;
$color-blue: #0099cc;
$color-blue-light: #00bfff;