/**
* Project Wide Variables 
**/

// Type
/////////////////////////
$base-font-family: 'proxima-nova', 'Helvetica Neue', sans-serif;
$condensed-font-family: 'proxima-nova-extra-condensed', $base-font-family;
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.5;

// Colors
$color-black: #404040;
$color-teal: #77c4bc;
$color-orange: #ffd7b0;
$color-gray-lighter: #eee;
$color-gray-light: #ddd;